
<div class="container">
    <nav class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right" id="top-nav">
            <li>@Html.ActionLink("Головна", "", "Home")</li>
            <li>@Html.ActionLink("Технології", "", "Technology")</li>
            <li>@Html.ActionLink("Сертифікація", "", "Certification")</li>
            <li>@Html.ActionLink("Продукція", "", "Product")</li>
            <li>@Html.ActionLink("Зворотній зв'язок", "", "Feedback")</li>
            <li>@Html.Partial("_loginPartial")</li>
        </ul>
    </nav>
</div>